extends layout 

block content 
  h1= title 
  h3= theKind.name
  ul
    for backpack in theBackpacks
      li
        a(href=backpack.url) #{backpack.name}

  li 
    a(href=theKind.url + '/update') Update
  li 
    a(href=theKind.url + '/delete') Delete

  if error
    p= error